.slider {
    width: 100%;

    .swiper-slide {
        padding-right: $unit;
        margin: $unit 0;

        .slide-content {
            cursor: pointer;
            background-color: map-get($map: $colorMap, $key: "light");
            color: map-get($map: $colorMap, $key: "dark");
            padding: $unit;
            border-radius: $borderRadius;

            &:hover {
                background-color: darken($color: map-get($map: $colorMap, $key: "light"), $amount: 25);
            }
        }
    }
}