@font-face {
  font-family: 'quicksand';
  src: url("./../fonts/quicksand.ttf");
}

* {
  font-family: 'quicksand', Arial, Helvetica, sans-serif;
}

.bg-accent {
  background-color: #AE26DE;
}

.text-accent {
  color: #AE26DE;
}

.bg-dark {
  background-color: #1b1b1b;
}

.text-dark {
  color: #1b1b1b;
}

.bg-light {
  background-color: #F0F0F0;
}

.text-light {
  color: #F0F0F0;
}

.bg-success {
  background-color: seagreen;
}

.text-success {
  color: seagreen;
}

.bg-danger {
  background-color: indianred;
}

.text-danger {
  color: indianred;
}

body {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header friends" "main main main friends";
  grid-auto-rows: 1fr 5fr;
  grid-auto-columns: 1fr;
  height: 100vh;
  max-height: 100vh;
  padding-top: 2rem;
}

.tool-ribbon {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  height: 2rem;
  max-height: 2rem;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  background-color: #353535;
  -webkit-app-region: drag;
}

.tool-ribbon a {
  -webkit-app-region: no-drag;
  pointer-events: all;
  font-size: large;
  cursor: pointer;
  line-height: 1;
}

.tool-ribbon a:hover {
  color: indianred;
}

#header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  padding: 1rem;
}

#main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  padding: 1rem;
  position: relative;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "poster slider slider" "poster slider slider" "poster description description";
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
}

#main .game-poster {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: poster;
}

#main .game-description {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: description;
}

#main .game-description h3 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
}

#main .game-description p {
  margin-bottom: 1rem;
}

#main .game-description .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main .microbit-status-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1b1b1b;
  z-index: 998;
}

#main .microbit-status-wrapper p {
  margin: 1rem 0;
}

#friends {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: friends;
  padding: 1rem;
}

#friends .friend {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#friends .friend span {
  font-weight: 500;
  font-size: 1.5em;
  padding: 0.5em;
  text-align: center;
  border-radius: 100%;
  line-height: 1;
}

#friends .friend .friend-info {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#friends .friend .friend-info p {
  font-size: small;
  color: #9b9b9b;
}

#friends .friend .friend-info p strong {
  color: #AE26DE;
}

#friends .friend .microbit {
  max-width: 2em;
  justify-self: flex-end;
}

#friends .friend .microbit.connected path {
  fill: seagreen !important;
}

#friends .friend .microbit path {
  fill: indianred !important;
}

#login-check:checked + .login-pane {
  display: none;
}

.login-pane {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  padding-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-pane::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(174, 38, 222, 0.95);
  z-index: -1;
}

.login-pane form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-pane form input {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  font-size: 3em;
  letter-spacing: 0.1em;
  background-color: transparent;
  text-align: center;
  color: white;
  width: 100%;
}

.login-pane form input::-webkit-input-placeholder {
  color: rgba(240, 240, 240, 0.7);
}

.login-pane form input:-ms-input-placeholder {
  color: rgba(240, 240, 240, 0.7);
}

.login-pane form input::-ms-input-placeholder {
  color: rgba(240, 240, 240, 0.7);
}

.login-pane form input::placeholder {
  color: rgba(240, 240, 240, 0.7);
}

.login-pane form button {
  background-color: transparent;
  border: none;
  outline: none;
  display: inline-block;
  font-size: 2em;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  font-weight: lighter;
}

.slider {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: slider;
  position: relative;
}

.slider .swiper-container {
  height: 100%;
}

.slider .swiper-container .swiper-slide {
  padding: 1rem 0;
  padding-right: 1rem;
  opacity: 0.5;
}

.slider .swiper-container .swiper-slide.active {
  opacity: 1;
}

.slider .swiper-container .swiper-slide .slide-content {
  cursor: pointer;
  background-color: #F0F0F0;
  color: #1b1b1b;
  padding: 1rem;
  border-radius: 0.5rem;
  height: 100%;
}

.slider .swiper-container .swiper-slide .slide-content:hover {
  background-color: #b0b0b0;
}

.btn {
  background-color: transparent;
  color: #F0F0F0;
  font-size: 1em;
  padding: 0.25em 0.5em;
  border: solid thin #F0F0F0;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: #F0F0F0;
  color: #1b1b1b;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*# sourceMappingURL=style.css.map */